<table class="min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Image</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Price</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <tr *ngFor="let pro of product" class="product">
      <td class="px-6 py-4 whitespace-nowrap">{{ pro.name }}</td>
      <td class="px-6 py-4 whitespace-nowrap"><img [src]="pro.image" alt="Product Image" class="h-10 w-10 rounded-full"></td>
      <td class="px-6 py-4 whitespace-nowrap">${{ pro.price }}</td>
    </tr>
  </tbody>
</table>
